<% if (locals.links) { %>
  <div class="container-fluid">
    <ol>
      <% for (i = 0; i < links.length; i++) { %>
        <li>
         <a href="<%- links[i].url %>" ><%- links[i].linkTitle  %>
         </a><% if (links[i].externalUrl) { %>
                      (direct link <a href= <%- links[i].externalUrl %> >here</a>).
                    <% } %>

        </li>
      <% } %>
    </ol>
  </div>
<% } %>
