<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<%# <link rel="stylesheet" href="/css/bootstrap.css">%>
<link rel='stylesheet' href='/css/style.css'>
<title><%= tabTitle %></title>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
