h1 {
  color: red;
}

h2 {
  color: purple;
}

h3 {
  text-align: center;
}

p {
  color: blue;
}

div#container {

}

div#microphone {
  background-image: url("./images/microphone.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;

}

div#microphone h2 {
  color: yellow;
}

div#soundtrap {
  background-image: url("./images/soundtrap.png");
  background-size: cover;
  display: block;
  width: 100vw;
  height: 500px;
}

div#audacity {
  background-image: url("./images/audacity.png");
  background-size: cover;
  display: block;
  width: 100vw;
  height: 500px;
}

div#garageband {
  background-image: url("./images/garageband.png");
  background-size: cover;
  display: block;
  width: 100vw;
  height: 500px;
}
