
  <title><%= title %></title>
  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
  <link rel='stylesheet' href='/stylesheets/tl-style.css' />
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
