<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='_assets/css/menu.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (var i = 0; i < theThings.length; i++) { %>
    <p><%= theThings[i].creatorName + " did this:"%> did this:
      <%= theThings[i].creationName  %>
    </p>
    <% }  %>
  </body>
</html>
