<% include partials/head.ejs %>

    <div class="container">
      <h1><%= title %></h1>
      <p><%- message %></p>
      <%- include partials/links.ejs %>
    </div>

<% include partials/foot.ejs %>
