<% include partials/head.ejs %>

    <div class="container">
      <h1><%= title %></h1>
      <p>all the things for <%= date %></p>
      <img src="_assets/images/20180914.jpg" />
    </div>

<% include partials/foot.ejs %>
