<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/swiss.css' />
    <meta property="og:image" content=<%- heroImage %>>
  </head>
  <body>
    <div class="container">
      <%- name %>
    </div>
  </body>
</html>
