<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/swiss.css' />
    <meta property="og:image" content=<%- thumbnail %>>
    <meta property="og:description" content=<%- description %>>
  </head>
  <body>
    <div class="container">
      <%- convertedMarkdown %>
    </div>
  </body>
</html>
