<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= css %>' />
    <meta property="og:image" content=<%- thumbnail %>>
  </head>
  <body>
    <div class="container">
      <%- convertedMarkdown %>
    </div>
  </body>
</html>
