<!DOCTYPE html>
<html>
  <head>
    <%- include partials/timeline-head.ejs %>
  </head>
  <body>
    <%- include partials/timeline-div.ejs %>
    <%- include partials/timeline-script.ejs %>
  </body>
</html>
