<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta property="og:image" content="https://live.staticflickr.com/8540/29867232551_cf571a5d62_h.jpg">
  </head>
  <body>
    <%- convertedMarkdown %>
  </body>
</html>
