<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/_assets/css/workbook.css' />
    <meta property="og:image" content="https://live.staticflickr.com/2871/33129125296_1ef184d0c9_h.jpg">
  </head>
  <body>
    <%- convertedMarkdown %>
  </body>
</html>
