<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/_assets/css/workbook.css' />
    <meta property="og:image" content=<%- heroImage %>>
  </head>
  <body>
    <%- convertedMarkdown %>
  </body>
</html>
