@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Londrina+Sketch&family=Raleway&family=Roboto&display=swap');

body {
  padding: 20px;
  font-family: .95em 'Roboto', sans-serif;
  margin: auto;
  max-width: 640px;
  background-color: #EEEEEE;
  margin-bottom: 0px;
  margin-top: 0px;
}

img {
  width: 640px;
  display: block
}

h1 {
  font-weight: 1000;
  font-family: 'Londrina Sketch', cursive;
  font-size: 4.5em;
}

h2 {
  font-family: 'Londrina Sketch', cursive;
  font-weight: 900;
  font-size: 2.6em;
}
