div {
  width: 1270px;
  height: 1000px;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: auto;
}

div body {
body {
opacity: 1;
}
}

h1 {
opacity: 1;
color: #9194FF;
font-size: 42px;
font-weight: 100;
text-shadow: 2px 2px 4px #b7b9bd;
text-align: center;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h2 {
opacity: 1;
color: #9D84E8;
font-size: 36px;
font-weight: 400;
text-shadow: 2px 2px 4px #b7b9bd;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
text-align: center;
}

h3 {
margin-left: 60px;
margin-right: 60px;
color: #9D84E8;
font-size: 30px;
font-weight: 300;
text-shadow: 2px 2px 4px #b7b9bd;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h4 {
margin-left: 60px;
margin-right: 60px;
color: #9D84E8;
font-size: 25px;
font-weight: 200;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}
h5 {
margin-left: 60px;
margin-right: 60px;
color: #9D84E8;
font-size: 20px;
font-weight: 100;
font-family: monaco, monospace;
}

ul {
margin-left: 60px;
margin-right: 60px;
color: black;
font-family: Arial;
font-size: 14px;
font-style: normal;
line-height: 1.5;
}

p {
margin-left: 60px;
margin-right: 60px;
color: black;
font-family: Arial;
font-size: 14px;
font-style: normal;
line-height: 1.5;
}

img {
 width: 40vw;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 3px solid black;
 border-radius: 25px;
}
