body {
background: url(https://img.freepik.com/free-vector/minimal-diagonal-zigzag-pattern-design_1017-15351.jpg?size=338&ext=jpg) 50%;
background-size: cover;
}

h1 {
color: #9194FF;
font-size: 42px;
font-weight: 100;
text-shadow: 2px 2px 4px #b7b9bd;
text-align: center;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h2 {
color: #9D84E8;
font-size: 34px;
font-weight: 400;
text-shadow: 2px 2px 4px #b7b9bd;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h3 {
color: #CF9EFE;
font-size: 30px;
font-weight: 300;
text-shadow: 2px 2px 4px #b7b9bd;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h4 {
color: #D384E8;
font-size: 25px;
font-weight: 200;
font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

h5 {
color: #FF91F3;
font-size: 20px;
font-weight: 100;
font-family: monaco, monospace;
}

p {
color: black;
font-size: 12px;
font-weight: bold;
}

img {
 width: 40vw;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 3px solid black;
 border-radius: 25px;
}
