@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  padding: 2px;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 16px; 
  font-weight: lighter;
  color: white;
  margin: auto;
  max-width: 640px;
  background-color: black;
  margin-bottom: 2px;
  margin-top: 2px;
}

a {
  text-decoration: none;
  color: red;
  font-weight: 500;
}

h1 {
  font-family: 'Creepster', cursive;
  color: orange;
  font-size: 48px;
  font-weight: bolder;
  border: 1rem solid blue;
  box-shadow: 5px 5px 3px white;

}

h2 {
  font-family: 'Creepster', cursive;
  color: orange;
  font-size: 36px;
  font-weight: bold;
  
h3 {
  font-family: 'Creepster', cursive;
  color: orange;
  font-size: 24px;
  font-weight: bold;
}


img {
  width: 40vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
   list-style-type: circle;
  }
  
a:hover, a:active, a:focus {
  color: orange;
}
