#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    transform: translateX(-50%) translateY(-50%)
    z-index: -1;
}

/* Add some content at the bottom of the video/page */
.container {
    font-family: fantasy;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

body
{
    background-color: black
}
