body {
  color: rgba(200,0,70,.5);
}

h1 {
  font-family: "Avenir Next";
  font-weight: 900;
  font-size: 8em;
  text-align: center;
  transition: 5s;
}

h2 {
  font-family: "Avenir Next";
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

h1:hover {
  color: rgba(0,0,0,0.7);
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#mainContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
}
