/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #FFF3E3;
}

h1, h2 {
  font-style: italic;
}


h2 { 
  color: #EBBC00;
}

h2.special {
  color: #EB8E3D;
}

h3 {
  color: #FF6696;
}

h4 {
  color: #E86D5D;
}

li {
  list-style-type: "\1F9E1"; /*orange heart*/
}

li.special {
 list-style-type: "\1F44D"; /* thumbs up sign*/
}

a:link {
  color: purple;
}
