html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.background{
  height: 100%;
  width: 100%;
  background-image: url("halloween.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  position: fixed;
  right: 0;
  top: 0;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
#list {
  text-align: inherit;
}
p {
  margin: 0;
  padding: 0;
}
