<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head.ejs %>
    <link rel='stylesheet' href='/css/bootstrap_cover_page_additions.css'>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header class="clearfix" style="height: 60vh; background: url(/images/mesh.jpg) no-repeat center center; background-size: contain; margin-bottom: 20px; margin-top:150px; background-attachment: fixed">
    </header>

    <div class="container">
      <div class="display-1 text-uppercase text-center" style='background: white; color: rgba(0,0,0,.8); border-radius:20px; padding:20px; margin-bottom:20px; font-family:"Avenir Next"; font-size: 50px; font-weight: 800; letter-spacing: 0.5px'>
      </div>

      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4" style="background-color: rgba(0,0,0,0.0); text-align: right">
          <p>
            Everything here is <br />under construction.
          </p>
          <p>
            <a href="/rename">
              rename
            </a>
            <br />
            <a href="/m2s">
              m2s
            </a>
          </p>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </body>
<% include partials/foot.ejs %>
