div#backgroundImg {
  background-image: url('./crayons.jpg');
  background-size: cover;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

h3 {
  color: white;
}
