body {
  height: 100vh;
}

.container {
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
    "I I"
    "SL SR"
    "VL VR"
}

#stilltopright{
  grid-area:SR;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.still img {
  width: 100%;
}
