html {
  background-image: url(codelab_timeline_background.png);
  height: 230%;
  width: 100%;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: local;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(20, auto);
  grid-gap: 1px;
}
.item {
  justify-content: center;
  align-items: center;
  display: flex;

}
.image {
  margin: auto;
}
#grid13 {
  padding: 30px;
}
#grid36 {
  padding: 20px;
}
