h1 {
    margin-top: 120px;
  font-size: 50px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  margin-bottom: 0px;
  padding: 0;
  text-align: center;
}

h3 {
  margin-top: 0px;
  padding: 0;
  font-size: 80px;
  font-weight: 100;
  font-family: "Avenir Next", sans-serif;
  text-align: center;
  margin-bottom: 0;
}

ul {
  list-style: none;
  text-align: center;
  margin:0;
  padding: 0;
  margin-top: 70px;
}

li {
  margin-bottom: 4px;
}

a {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

strong {
  color: rgba(130, 0, 60, 0.9);
}
