@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

body {
  padding: 50px;
  font: .9em "Roboto Condensed", sans-serif;
  max-width: 640px;
  margin: auto;
  background-color: #FCFCFC;
  margin-bottom: 0;
}



a {
  color: #00B7FF;
}

img {
  width: 640px;
  display: block
}

h1 {
  /* font-family: "Avenir Next"; */
  font-weight: 900;
  font-size: 4em;
}

h2 {
  /* font-family: "Avenir Next"; */
  font-weight: 900;
  font-size: 2.5em;
}

h3 {
  /* font-family: "Avenir Next"; */
  font-weight: 900;
  font-size: 2em;
}

h4 {
  /* font-family: "Avenir Next"; */
  font-weight: 900;
  font-size: 1em;
}
